:root {
  font-family: sans-serif;
  background-color: rgba(134, 168, 243, 1);
  color: rgba(0, 0, 0, 1);
}

body {
  margin: 0 8px;
  line-height: 1.2;
}

strong {
  font-weight: 600;
}

div,
p,
h1 {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

p {
  font-size: 16px;
  margin: 16px 0;
}

li {
  font-size: 16px;
}

ul {
  list-style-type: disc;
  margin: 10px 0;
  padding: 0 0 0 40px;
}

h1 {
  text-align: center;
  margin: 32px 2%;
  border: 2px solid rgba(0, 0, 0, 1);
  padding: 8px 2%;
  width: 20%;
  left: 35%;
  position: relative;
  font-size: 32px;
}

h2 {
  font-size: 24px;
  margin: 20px 0;
}

h3 {
  font-size: 20px;
  margin: 10px 0;
}

div {
  margin: 8px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
  font-weight: 600;
}

#tab_container {
  display: table;
  margin: 0 auto;
  align-items: center;
}

#tab_container > p {
  display: inline;
  margin: 0;
  padding: 8px;
  border: 2px solid rgba(0, 0, 0, 1);
  width: 200px;
  text-align: center;
  cursor: pointer;
  /*background: linear-gradient(150deg, hsl(221,82%,75%) 0%,hsl(221,82%,80%) 34%,hsl(221,82%,70%) 69%,hsl(221,82%,65%) 100%);*/
  background-color: rgb(100%, 100%, 100%);
  color: rgb(0, 0, 0);
  font-weight: 600;
  white-space: nowrap;
}

#tab_container > p:hover {
  /*background: linear-gradient(150deg, hsl(221,82%,65%) 0%,hsl(221,82%,70%) 31%,hsl(221,82%,80%) 66%,hsl(221,82%,75%) 100%);*/
  background-color: rgb(60%, 60%, 60%);
  color: rgb(100%, 100%, 100%);
}

#tab_container > ::selection {
  /* This can be empty and still function fine; though if it doesn't have
     at least 1 rule, the CSS compressor trims it... */
  margin: inherit;
}

#RecipeBox {
  margin: 8px 2%;
  border: 2px solid rgba(0, 0, 0, 1);
  padding: 8px 2%;
}

.inputLabel {
  margin-bottom: 0;
  padding-bottom: 2px;
  font-size: 16px;
}

#riceOZ {
  font-size: 18px;
}
